In [133]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import os

# Newsela

In [116]:
newsela_df = pd.read_csv("newsela_with_analysis.csv")
newsela_df.describe()

,grade_level,version,num_tokens,num_sentences,num_characters,flesh_reading_ease,difficult_words,type-token_ratio
count,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000
mean,7.019562,2.007973,923.379195,48.397923,4560.313369,68.707136,123.899777,0.448023
std,2.996534,1.423471,326.257930,12.972465,1686.554274,12.292144,69.672704,0.037805
min,2.000000,0.000000,244.000000,10.000000,1075.000000,17.000000,5.000000,0.193440
25%,5.000000,1.000000,730.000000,41.000000,3534.000000,61.060000,75.000000,0.424150
50%,7.000000,2.000000,884.000000,48.000000,4353.500000,69.620000,114.000000,0.447674
75%,9.000000,3.000000,1074.000000,54.000000,5352.750000,76.930000,155.000000,0.471115
max,12.000000,5.000000,5241.000000,169.000000,26418.000000,105.860000,750.000000,0.625282

In [137]:
newsela_df.head(2)

,filename,content,slug,language,title,grade_level,version,num_tokens,num_sentences,num_characters,flesh_reading_ease,difficult_words,type-token_ratio
0,lincoln-library.en.2.txt,"Every morning, historian and author Daniel Sto...",lincoln-library,en,"""Dear Mr. President"" letters go online at Linc...",6.0,2,968,53,4720,65.62,112,0.453964
1,whales-entangled.en.3.txt,LOS ANGELES — In the Pacific waters off the co...,whales-entangled,en,More whales get tangled in crab-fishing gear,6.0,3,735,40,3654,73.17,72,0.415033

# WikiLarge

In [117]:
wikilarge_df = pd.read_csv("wikilarge_with_analysis_valid.csv")
wikilarge_df.describe()

,num_tokens_source,num_sentences_source,num_characters_source,flesh_reading_ease_source,difficult_words_source,type_token_ratio_source,num_tokens_target,num_sentences_target,num_characters_target,flesh_reading_ease_target,difficult_words_target,type_token_ratio_target
count,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000,992.000000
mean,26.905242,1.129032,139.087702,56.375675,5.527218,0.883562,20.025202,1.163306,99.725806,63.877913,3.662298,0.910651
std,13.363395,0.455357,72.740581,23.437627,3.350266,0.103002,12.335471,0.439641,65.359160,32.051652,2.870545,0.099470
min,2.000000,1.000000,2.000000,-50.020000,0.000000,0.000000,2.000000,1.000000,4.000000,-217.190000,0.000000,0.531250
25%,17.000000,1.000000,86.000000,42.380000,3.000000,0.824632,12.000000,1.000000,55.000000,49.150000,1.000000,0.848485
50%,24.000000,1.000000,126.000000,57.610000,5.000000,0.898276,18.000000,1.000000,88.000000,67.080000,3.000000,0.928571
75%,35.000000,1.000000,183.000000,70.130000,7.000000,0.961538,26.000000,1.000000,134.000000,81.885000,5.000000,1.000000
max,81.000000,6.000000,435.000000,206.840000,21.000000,1.000000,76.000000,4.000000,384.000000,121.220000,17.000000,1.000000

In [138]:
wikilarge_df.head(2)

,source,target,split,num_tokens_source,num_sentences_source,num_characters_source,flesh_reading_ease_source,difficult_words_source,type_token_ratio_source,num_tokens_target,num_sentences_target,num_characters_target,flesh_reading_ease_target,difficult_words_target,type_token_ratio_target
0,Upper Sorbian is a minority language spoken by...,"There are around 40,000 speakers of Upper Sorb...",valid,36,1,186,46.44,9,0.812500,32,2,188,39.84,10,0.857143
1,It used to be on display as part of the Americ...,It is on permanent display as part of the Amer...,valid,23,1,118,58.62,5,0.863636,22,1,120,42.72,6,0.857143

In [119]:
wikilarge_df.iloc[93]

source                       Matthew Perry -LRB- born 1969 -RRB- is Canadia...
target                       Matthew Perry -LRB- actor -RRB- -LRB- born 196...
split                                                                    valid
num_tokens_source                                                           16
num_sentences_source                                                         1
num_characters_source                                                       85
flesh_reading_ease_source                                                50.84
difficult_words_source                                                       4
type_token_ratio_source                                                    1.0
num_tokens_target                                                           16
num_sentences_target                                                         1
num_characters_target                                                       91
flesh_reading_ease_target                                                65.73
difficult_words_target                                                       3
type_token_ratio_target                                               0.769231
Name: 93, dtype: object

# Med-EASi

In [136]:
medeasi_df = pd.read_csv("Med-EASi_with_analysis.csv")
medeasi_df.describe()

,Unnamed: 0,sim,sentence_sim,compression,expert_fk_grade,expert_ari,layman_fk_grade,layman_ari,idx,num_tokens_source,...,num_characters_source,flesh_reading_ease_source,difficult_words_source,type_token_ratio_source,num_tokens_target,num_sentences_target,num_characters_target,flesh_reading_ease_target,difficult_words_target,type_token_ratio_target
count,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,...,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000,1893.00000,1893.000000,1893.000000,1893.000000
mean,548.899102,0.679020,0.798629,1.027458,12.495034,15.126519,10.454675,12.824142,995.025885,27.021130,...,149.188061,41.420523,7.623877,0.906571,25.521923,1.179081,135.43476,52.617602,6.120972,0.905788
std,429.444188,0.217847,0.183065,0.603395,5.322999,6.637227,5.011257,6.270478,579.676634,17.845904,...,100.038970,27.268953,5.431303,0.090495,17.101153,0.570732,91.86672,25.622745,4.696232,0.091526
min,0.000000,0.144796,-0.062400,0.083045,-3.500000,-5.400000,-2.300000,-2.400000,0.000000,1.000000,...,7.000000,-149.480000,0.000000,0.250000,2.000000,1.000000,12.00000,-126.470000,0.000000,0.523810
25%,157.000000,0.491803,0.683374,0.761364,9.100000,10.900000,7.200000,8.900000,473.000000,16.000000,...,87.000000,27.150000,4.000000,0.851852,15.000000,1.000000,79.00000,38.660000,3.000000,0.849315
50%,450.000000,0.686192,0.845005,0.955556,11.900000,14.500000,9.900000,12.200000,1014.000000,23.000000,...,127.000000,43.730000,6.000000,0.923077,21.000000,1.000000,113.00000,55.580000,5.000000,0.923077
75%,923.000000,0.876596,0.954880,1.115108,15.200000,18.300000,13.000000,15.800000,1498.000000,33.000000,...,182.000000,59.300000,9.000000,1.000000,31.000000,1.000000,162.00000,69.790000,8.000000,1.000000
max,1396.000000,0.991935,0.998446,7.000000,65.400000,82.600000,60.700000,78.000000,1981.000000,221.000000,...,1230.000000,121.220000,65.000000,1.000000,185.000000,9.000000,1126.00000,118.180000,62.000000,1.000000

In [139]:
medeasi_df.head(2)

,Unnamed: 0,source,target,Annotation,sim,sentence_sim,compression,expert_fk_grade,expert_ari,layman_fk_grade,...,num_characters_source,flesh_reading_ease_source,difficult_words_source,type_token_ratio_source,num_tokens_target,num_sentences_target,num_characters_target,flesh_reading_ease_target,difficult_words_target,type_token_ratio_target
0,0,Intervention for obese adolescents should be f...,The treatment of adolescent obesity is focused...,<ins>The</ins> <rep>Intervention for obese ado...,0.872483,0.925407,0.960526,13.4,16.7,13.4,...,152,39.67,8,0.956522,24,1,146,39.67,9,0.913043
1,1,"The liver may be enlarged, hard, or tender; ma...","Typically, the liver is enlarged and hard. It ...","<ins>Typically,</ins> the liver <rep>may be<by...",0.462312,0.727705,0.644628,12.3,16.2,4.8,...,121,37.30,10,1.000000,17,2,78,72.83,3,0.928571