In [97]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

# Newsela

In [116]:
newsela_df = pd.read_csv("newsela_with_analysis.csv")
newsela_df.describe()

,grade_level,version,num_tokens,num_sentences,num_characters,flesh_reading_ease,difficult_words,type-token_ratio
count,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000,10786.000000
mean,7.019562,2.007973,923.379195,48.397923,4560.313369,68.707136,123.899777,0.448023
std,2.996534,1.423471,326.257930,12.972465,1686.554274,12.292144,69.672704,0.037805
min,2.000000,0.000000,244.000000,10.000000,1075.000000,17.000000,5.000000,0.193440
25%,5.000000,1.000000,730.000000,41.000000,3534.000000,61.060000,75.000000,0.424150
50%,7.000000,2.000000,884.000000,48.000000,4353.500000,69.620000,114.000000,0.447674
75%,9.000000,3.000000,1074.000000,54.000000,5352.750000,76.930000,155.000000,0.471115
max,12.000000,5.000000,5241.000000,169.000000,26418.000000,105.860000,750.000000,0.625282

# WikiLarge

In [109]:
import pandas as pd

BASE_PATH = "./../../datasets/wiki/wikilarge"
BASE_FILENAME = f"wiki.full.aner.ori."

train_src_path = f"{BASE_PATH}/{BASE_FILENAME}train.src"
train_dst_path = f"{BASE_PATH}/{BASE_FILENAME}train.dst"
test_src_path = f"{BASE_PATH}/{BASE_FILENAME}test.src"
test_dst_path = f"{BASE_PATH}/{BASE_FILENAME}test.src"
valid_src_path = f"{BASE_PATH}/{BASE_FILENAME}valid.src"
valid_dst_path = f"{BASE_PATH}/{BASE_FILENAME}valid.dst"


with open(train_src_path, "r") as src, open(train_dst_path) as dst:
    train_src = src.readlines()
    train_dst = dst.readlines()
with open(test_src_path, "r") as src, open(test_dst_path) as dst:
    test_src = src.readlines()
    test_dst = dst.readlines()
with open(valid_src_path, "r") as src, open(valid_dst_path) as dst:
    valid_src = src.readlines()
    valid_dst = dst.readlines()

# Create DataFrames for each split
train_df = pd.DataFrame({"source": train_src, "target": train_dst, "split": "train"})
test_df = pd.DataFrame({"source": test_src, "target": test_dst, "split": "test"})
valid_df = pd.DataFrame({"source": valid_src, "target": valid_dst, "split": "valid"})

# Concatenate all DataFrames
full_df = pd.concat([train_df, test_df, valid_df], ignore_index=True)
print(len(full_df))
full_df = full_df.drop_duplicates()
print(len(full_df))

297753
297753

In [114]:
import pandas as pd

BASE_PATH = "./../../datasets/wiki/wikilarge"
BASE_FILENAME = f"wiki.full.aner.ori."

train_src_path = f"{BASE_PATH}/{BASE_FILENAME}train.src"
train_dst_path = f"{BASE_PATH}/{BASE_FILENAME}train.dst"
test_src_path = f"{BASE_PATH}/{BASE_FILENAME}test.src"
test_dst_path = f"{BASE_PATH}/{BASE_FILENAME}test.dst"
valid_src_path = f"{BASE_PATH}/{BASE_FILENAME}valid.src"
valid_dst_path = f"{BASE_PATH}/{BASE_FILENAME}valid.dst"

# Read the source and target files, and strip newline characters and extra spaces
def read_and_clean(file_path):
    with open(file_path, "r") as file:
        return [line.strip() for line in file.readlines()]

train_src = read_and_clean(train_src_path)
train_dst = read_and_clean(train_dst_path)
test_src = read_and_clean(test_src_path)
test_dst = read_and_clean(test_dst_path)
valid_src = read_and_clean(valid_src_path)
valid_dst = read_and_clean(valid_dst_path)

# Create DataFrames for each split
train_df = pd.DataFrame({"source": train_src, "target": train_dst, "split": "train"})
test_df = pd.DataFrame({"source": test_src, "target": test_dst, "split": "test"})
valid_df = pd.DataFrame({"source": valid_src, "target": valid_dst, "split": "valid"})

# Concatenate all DataFrames
full_df = pd.concat([train_df, test_df, valid_df], ignore_index=True)

# Print the length of the DataFrame before and after dropping duplicates
print("Before dropping duplicates:", len(full_df))
full_df = full_df.drop_duplicates()
print("After dropping duplicates:", len(full_df))

# Print the cleaned DataFrame
print(full_df.head())

Before dropping duplicates: 297753
After dropping duplicates: 297753
                                              source  \
0  There is manuscript evidence that Austen conti...
1  In a remarkable comparative analysis , Mandaea...
2  Before Persephone was released to Hermes , who...
3  Cogeneration plants are commonly found in dist...
4  Geneva -LRB- , ; , ; , ; ; -RRB- is the second...

                                              target  split
0  There is some proof that Austen continued to w...  train
1  Mandaean scholar Säve-Söderberg showed that Ma...  train
2  When Demeter went to the Underworld to rescue ...  train
3  Cogeneration plants are commonly found in dist...  train
4  The city 's main newspaper is the Tribune de G...  train

In [111]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297753 entries, 0 to 297752
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   source  297753 non-null  object
 1   target  297753 non-null  object
 2   split   297753 non-null  object
dtypes: object(3)
memory usage: 6.8+ MB

In [112]:
full_df.describe()

            source        target   split
count       297753        297753  297753
unique      238593        238054       3
top     -- -RRB-\n  References\n   train
freq           146          1529  296402

In [113]:
filtered_df = full_df[full_df['source'].str.contains("-- -RRB-\\n", na=False)]

# Print the filtered rows
print(filtered_df)

                                       source  \
1070       Oakland Athletics -LRB- -- -RRB-\n
1198          St. Louis Rams -LRB- -- -RRB-\n
1913                               -- -RRB-\n
2010                               -- -RRB-\n
3220    Arizona Diamondbacks -LRB- -- -RRB-\n
...                                       ...
282487                             -- -RRB-\n
285351                             -- -RRB-\n
288891                             -- -RRB-\n
293351                             -- -RRB-\n
294487                             -- -RRB-\n

                                                   target  split
1070    He plays right fielder\/First baseman for the ...  train
1198               St. Louis Rams -LRB- 2001-2009 -RRB-\n  train
1913    Pierre de Fermat makes a marginal claim to hav...  train
2010    February 3 - Tulip mania collapses in the Unit...  train
3220    Selected for the All-Star game x5 in 1999 , 20...  train
...                                                   ...    ...
282487  February 25 - Giovanni Battista Morgagni , Ita...  train
285351  2001 Hamilton-Wentworth Region and all six of ...  train
288891  January 1 - Russia first starts using Western ...  train
293351  October 1 - James Lawrence , U.S. Navy officer...  train
294487    January 2 - Amadeus I becomes King of Spain .\n  train

[189 rows x 3 columns]