# NEWSELA

In [1]:
import os
import pandas as pd

In [11]:
# Define the path to the directory containing the .txt files
NEWSELA_DIR_PATH = "./../../datasets/newsela/newsela_article_corpus_2016-01-29/articles"
NEWSELA_METADATA_PATH = "./../../datasets/newsela/newsela_article_corpus_2016-01-29/articles_metadata.csv"

data = []
metadata = pd.read_csv(NEWSELA_METADATA_PATH, sep=',')

for filename in os.listdir(NEWSELA_DIR_PATH):
    if filename.endswith(".txt"):
        file_path = os.path.join(NEWSELA_DIR_PATH, filename)
        with open(file_path, "r", encoding="utf-8") as file:  # Open the file
            content = file.read()  # Read the file's content
            data.append({"filename": filename, "content": content})  # Add data to the list


articles_df = pd.DataFrame(data)
merged_df = pd.merge(articles_df, metadata, on="filename", how="inner")
df_newsela = merged_df

df_newsela.head()

,filename,content,slug,language,title,grade_level,version
0,lincoln-library.en.2.txt,"Every morning, historian and author Daniel Sto...",lincoln-library,en,"""Dear Mr. President"" letters go online at Linc...",6.0,2
1,whales-entangled.en.3.txt,LOS ANGELES — In the Pacific waters off the co...,whales-entangled,en,More whales get tangled in crab-fishing gear,6.0,3
2,shark-catches.en.3.txt,"FORT LAUDERDALE, Fla. — South Florida fisherma...",shark-catches,en,Dragging a shark onto a beach in Florida is ag...,5.0,3
3,diapers-demand.en.1.txt,LOS ANGELES — There have been days since her s...,diapers-demand,en,Many low-income moms struggle to keep their ki...,8.0,1
4,spain-jews-spanish.es.3.txt,"SEATTLE — Hace poco, Doreen Alhadeff se reunió...",spain-jews-spanish,es,Judíos en Seattle discuten si deben adoptar ci...,5.0,3

In [12]:
df_newsela.language.value_counts()

language
en    9565
es    1221
Name: count, dtype: int64

In [13]:
df_newsela.describe()

        grade_level       version
count  10786.000000  10786.000000
mean       7.019562      2.007973
std        2.996534      1.423471
min        2.000000      0.000000
25%        5.000000      1.000000
50%        7.000000      2.000000
75%        9.000000      3.000000
max       12.000000      5.000000

In [14]:
df_newsela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10786 entries, 0 to 10785
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   filename     10786 non-null  object
 1   content      10786 non-null  object
 2   slug         10786 non-null  object
 3   language     10786 non-null  object
 4   title        10786 non-null  object
 5   grade_level  10786 non-null  float64
 6   version      10786 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 590.0+ KB